@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* SVG Filters */
.filter-gray {
    filter: invert(55%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(92%) contrast(85%);
}

.filter-dark-gray {
    filter: invert(14%) sepia(9%) saturate(0%) hue-rotate(182deg) brightness(92%) contrast(82%);
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;    
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    background: gray;
    color: white;
    border-radius: 50%;
    font-size: .75rem;
}

.circle.active {
    background: #0269A4;
}

.title {
    font-weight: 500;   
    font-size: 2.5rem;
    text-align: center;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    background-color: #0269A4;
    padding: .25rem .5rem;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.error-text {
    color: crimson;
}

.error-box {
    border: 3px solid crimson;
    max-width: max-content;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 5px;
}

.error-text,
.empty-shopping-cart {  
    font-weight: 700;
    margin: 2.5rem 0 1rem 0;
}

.h1 {
    font-size: 2.5rem;
}

.h2 {
    font-size: 2.25rem;
}

.h3 {
    font-size: 2rem;
}

.h4 {
    font-size: 1.75rem;
}

.h5 {
    font-size: 1.5rem;
}

.h6 {
    font-size: 1.25rem;
}

.gray {
    color: hsl(0, 0%, 50%);
}

.light-gray {
    color: hsl(0, 0%, 75%);
}

.center {
    text-align: center;
}

.icon-wrapper {
    position: relative;
    min-width: 100%;
}

.icon {
    position: absolute;    
    left: 58%;
    bottom: 35%;
}

.home-icon {
    width: 2rem;
    margin-left: .25rem;
    left: 70%;
}

.home-page-redirect {
    font-size: 1.25rem;
    color: hsl(0, 0%, 20%);
}

.home-page-redirect:hover {
    color: hsl(0, 0%, 17%);
}

.empty-shopping-cart {
    font-weight: 100;
    
}

.product-list-container {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.25rem;
}

.product-subtotal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: 1px solid #333;
    max-width: max-content;
    padding: 0.25rem;
}

.cart-total-and-action .cart-final-price {
    font-weight: 100;
    margin-left: .5rem;
}

.checkout-container,
.product-container {
    box-shadow: 0px 0px 2px hsla(0, 0%, 0%, 0.9);
}

.product-container {
    height: 240px;
    height: 100%;
    border-radius: 5px;
}

.product-container .product-image {
    display: block;
    width: 90%;
    margin: 0 auto;
    max-height: 220px;
    padding-top: .5rem;
}

.product-container .product-top-section{
    position: relative;
    height: 200px;
    background-color: hsl(0, 0%, 80%);

}

.product-container .product-bottom-section {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.product-container .product-bottom-section .product-left,
.product-container .product-bottom-section .product-right { 
    padding: .5rem;
}

.product-container .product-bottom-section .product-left h5 {
    font-size: 1.25rem; 
    font-weight: 600;  
    margin-bottom: .5rem;
}

.product-container .product-bottom-section .product-left p {
    color: #808080;
    font-size: .9rem;
}

.product-container .product-bottom-section .product-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-container .product-bottom-section .product-right p {
    font-weight: 600;
}

.product-container .product-bottom-section .product-right button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.main-nav {
    --nav-bar-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: var(--nav-bar-height);
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

.main-nav .brand-logo {
    display: flex;
    align-items: center;
}

.main-nav .brand-logo img {
    width: 30px;
    margin-right: .5rem;
}

.main-nav .shopping-cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .5rem;
    border-radius: 50%;
}

.main-nav .shopping-cart:hover {
    background: hsl(0, 0%, 90%);
}

/* Displays shopping cart's current product amount */
.main-nav .shopping-cart-amount {
    position: absolute;
    transform: translateX(15px) translateY(-10px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FDFD96;
    z-index: 1;
}

.cart-title {
    font-size: 2.5rem;
}

.cart-items-container {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.25rem;
}

.cart-item-container .cart-item-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 250px;
    color:#cccccc
}

.cart-item-container .item-bottom-section {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin-bottom: .25rem;
}

.cart-item-container .item-bottom-section .product-price-and-name{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.cart-item-container .item-bottom-section .product-price-and-name .product-name {
    font-size: 1.5rem;
}

.cart-item-container .item-bottom-section .product-price-and-name .product-price {
    font-size: 1.25rem;
}
.cart-item-container .item-bottom-section .product-bottom-row {
    position: relative;
    /* Flex item */
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    margin: .25rem 0;
    padding: 0 .5rem;
}

.cart-item-container .item-bottom-section .product-bottom-row .btn-delete {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    background-color: crimson;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    font-size: .9rem;
    text-transform: uppercase;
}

.cart-item-container .item-bottom-section .product-bottom-row .product-quantity {
    font-size: 1.25rem;
    margin: 0 .25rem;
}

.cart-total-and-action {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.cart-total-and-action .btn-empty, 
.cart-total-and-action .check-out-btn {
    background-color: hsl(348, 83%, 47%);
    color: inherit;
    margin-left: .5rem;
    padding: .80rem;
    color: white;
}

.cart-total-and-action .btn-empty:hover {
    background-color: hsl(348, 83%, 42%);
}

.cart-total-and-action .check-out-btn {
    background-color: hsl(202, 98%, 33%);
}

.cart-total-and-action .check-out-btn:hover {
    background-color: hsl(202, 98%, 27%);
}

.checkout-container {
    max-width: 600px;
    margin: 4rem auto;
}

/* Progress bar */
.progressbar {
    position: relative;
    left: 50%;
    transform: translateX(-47%);
    display: flex;
    justify-content: center;
    counter-reset: step;
    list-style-type: none; 
    margin-top: 3rem;
    max-width: 600px;
}

.step {
    padding: 1rem;
    position: relative;
    width: 20%;
}

.progressbar .step::before {
    counter-increment: step;
    content: counter(step);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25px;
    width: 36px;
    height: 36px;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 50%;
    background-color: white;
}

.progressbar .step::after {
    content: '';
    position: absolute;
    left: -80%;
    top: -8px;
    height: 1px;
    width: 100%;
    background-color: hsl(0, 0%, 87%);
    z-index: -1;
}

.progressbar .step:first-child:after {
    content: none;
}

.progressbar .step.active::before {
    content: '';
    display: flex;
    background: url(./../images/done_black_24dp.svg);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    background-color: green;
}

.progressbar .step.active + .step::after {
    background-color: green;
}

.input-row {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
}

.form-submit {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding: 0 2rem 2rem 2rem;
}

form button {
    display: block;
    cursor: pointer;
    background: hsl(240, 100%, 50%);
    border: none;
    color: white;
    padding: .5rem .75rem;
    border-radius: 5px;
    font-size: 16px;
}

form .cart-btn,
.back-btn {
    background: hsl(0, 0%, 50%);
}

form .cart-btn:hover,
.back-btn:hover {
    background: hsl(0, 0%, 55%);
}

form button:hover {
    background: hsl(240, 100%, 40%);
}

.input-group {
    position: relative;
}

.input-group label {
    opacity: 0;
    position: absolute;
    left: 0;
    top: -24px;
    transition: opacity 100ms ease-in
} 

.input-group input:focus + label {
    opacity: 1;
}

.input-group input {
    border: none;
    border-bottom: 1px solid #333;
    padding: 0.25rem 0;
    font-size: 1rem;
    outline: none;
}

.input-group:hover input,
.input-group:focus input {
    border-bottom: 1px solid blue;
}

.input-group input:focus {
    border-bottom: 1px solid blue;
}

.form-error {
    color: crimson;
    padding: .25rem .25rem .25rem 0;
}

.shipping-country {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.shipping-country label {
    text-align: center;
}

select {
    margin: 0 auto;
    margin: .5rem;
    width: 40%;
    padding: .5rem;
    font-size: 16px;
    background: none;
    border: none;
    background: #333;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.order-summary {
    padding: 1.5rem 2rem 2rem 2rem;
}

.order-summary .order-summary-list {
    list-style-type: none;
}

.order-summary .order-summary-item {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border-bottom: 1px solid hsl(0, 0%, 87%);
    border-top: 1px solid hsl(0, 0%, 87%);
    padding: .5rem 0;
}

.order-summary .order-summary-item .product-name,
.order-summary .order-summary-item .item-rightside,
.total-summary { 
    font-size: 20px;
}

.order-summary .order-summary-item .product-name {
    font-weight: 600;
    margin-bottom: .5rem;
}

.order-summary .order-summary-item .item-leftside {
    display: flex;
    flex-direction: column;
}

.total {
    font-weight: 700;
    font-size: 24px;
}

.payment-form-buttons {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 0 0;
}

.stripe-wrapper {
    padding: 2rem;
}